.board {
    background-color: #000000;
    display: grid;
    border: solid 1px #333333;
    grid-auto-rows: max-content;
    width: 100%;
    padding: 8px;
    min-height: 100vh;
    grid-template-columns: repeat(4, 1fr);

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #333333;
        border-radius: 25px;
        margin: 5px;
        position: relative;
        height: 200px;
        overflow: hidden;
        padding: 15px;
        .item__content {
            display: flex;
            align-items: center;
            .item__avatar {
                width: 40px;
                height: 40px;
                background: no-repeat;
                border-radius: 25px;
                background-size: 40px 40px;
                margin-right: 4px;
            }
            .item__icon {
                width: 40px;
                height: 40px;
                background: no-repeat;
                border-radius: 20px;
                background-size: 40px 40px;
                margin-right: 30px;
            }
        }
        .item__times {
            color: #FFFFFF66;
            font-size: 16px;
            .item__data,
            .item__time {
                margin: 0;
            }
        }
        .item__text {
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-bottom: 10px;
            &-title {
                margin: 15px 0 0 0;
                font-size: 25px;
                max-height: 60px;
                overflow: hidden;
            }
            &-subtitle {
                margin: 20px 0 0 0;
                font-size: 18px;
                max-height: 60px;
                overflow: hidden;

            }
        }
    }
}