.filters {
    background: #000;
    width: 600px;
    padding: 10px;
    &__search {
        border-radius: 15px;
        display: flex;
        padding: 5px;
        background: #333333;
        .search__btn{
            border-radius: 15px;
            border: none;
            background-color: #333333;
            cursor: pointer;
        }
        .search__input {
            background: #333333;
            width: 100%;
            border: none;
            // border-radius: 15px;
        }
    }
    &__tags {
        margin: 30px 0;
        // padding: 1px;
        .tags__all {
            display: inline-flex;
            align-items: center;
            column-gap: 5px;
            padding: 3px 6px;
            margin-right: 10px;
            color: #fff;
            border: solid 1px #333333;
            border-radius: 25px;
            font-size: 18px;
            text-decoration: none;
        }
        .tag {
            display: inline-flex;
            padding: 3px 6px;
            margin-right: 10px;
            margin-bottom: 10px;
            border: solid 1px #333333;
            border-radius: 25px;
            cursor: pointer;
            text-decoration: none;
            color: #fff;
        }
    }
}
.active {
    background: url('@/assets/img/close.png') no-repeat center right, #fff no-repeat;
    background-size: 26px 26px;
    padding-right: 25px !important;
    color: #000 !important;
}
