.filters {
    background: #000;
    width: 600px;
    padding: 10px;
    &__search {
        border-radius: 15px;
        display: flex;
        padding: 5px;
        background: #333333;
        .search__btn{
            border-radius: 15px;
            border: none;
            background-color: #333333;
            cursor: pointer;
        }
        .search__input {
            background: #333333;
            width: 100%;
            border: none;
            border-radius: 15px;
        }
    }
    &__tags {
        margin: 30px 0;
        .tags__all {
            display: inline-flex;
            align-items: center;
            column-gap: 5px;
            padding: 3px 6px;
            margin-right: 10px;
            color: #000;
            border: solid 1px #333333;
            border-radius: 25px;
            background: #fff;
            font-size: 18px;
            text-decoration: none;
            &--img {
                border-radius: 25px;
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
        }
        .tag {
            display: inline-flex;
            padding: 3px 6px;
            margin-right: 10px;
            margin-bottom: 10px;
            border: solid 1px #333333;
            border-radius: 25px;
            cursor: pointer;
            &__text {
                margin: 1px;
                font-size: 18px;
                text-decoration: none;
                color: #fff;
            }
        }
    }
}